@font-face {
	font-family: 'Alegreya';
	src: url('./fonts/alegreya.regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Alegreya';
	src: url('./fonts/alegreya.bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Alegreya';
	src: url('./fonts/alegreya.black.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bitter';
	src: url('./fonts/bitter.regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
