<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<style>
			@media (prefers-color-scheme: dark) {
				.logo-dark {
					display: inline !important;
				}
				.logo-light {
					display: none !important;
				}
			}
		</style>
	</head>
	<body style="margin: 16px; padding: 0; font-family: 'Arial'">
		<table width="100%">
			<tr>
				<td bgcolor="#ffffff">
					<!-- Inner container -->
					<table style="width: 550px">
						<!-- Logo -->
						<tr>
							<td align="center">
								<img
									class="logo-light"
									src="https://dev.cdn.heirloom.shop/logo.png"
									style="width: 200px"
								/>
								<img
									class="logo-dark"
									src="https://dev.cdn.heirloom.shop/logo-white.png"
									style="
										width: 200px;
										display: none;
									"
								/>
							</td>
						</tr>

						<!-- Thank you heading -->
						<tr>
							<td align="center">
								<p style="font-size: 28px; margin: 0">
									Thank you for your order.
								</p>
							</td>
						</tr>

						<tr>
							<td align="center">
								<a
									href="https://dev.heirloom.shop"
									target="_blank"
									style="
										display: inline-block;
										font-size: 16px;
										color: #ffffff;
										text-decoration: none;
										margin: 20px;
										padding: 8px 16px;
										border-radius: 5px;
										background-color: #000000;
									"
								>
									View details
								</a>
							</td>
						</tr>

						<!-- Body text -->
						<tr>
							<td style="font-size: 18px">
								<p style="margin: 0">
									You will receive an email when
									each item in your order has
									shipped.
								</p>
								<p style="margin-top: 12px">
									Reply to this email with any
									questions or concerns.
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
