name: Full App Deploy

on: workflow_dispatch

jobs:
    deploy-docker-image:
        uses: ./.github/workflows/docker-image-deploy.yml

    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Install doctl
              uses: digitalocean/action-doctl@v2
              with:
                  token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

            - name: Deploy app
              run: doctl apps create-deployment ${{ secrets.APP_ID }}
